body{
	text-align: center;
}
.wrap-all{

}
.wrap-avatar{

}
.btn-nav-group{

}
.wrap-hero-info{

}
.wrap-hero-info ul{
	list-style-type: none;
	text-align: left;
}
.wrap-films{

}
.wrap-films ul{
	list-style-type: none;
	text-align: left;
}
