body{
	text-align: center;
}
.wrap-all{

}
h1{
	margin: 40px 0;
}
.wrap-avatar{
	margin-bottom: 40px;
}
.wrap-avatar img{
	border: 2px solid grey;
	border-radius: 5px;
}
.wrap-avatar img{
}
.btn-nav-group{

}
.wrap-hero-info{

}
.wrap-hero-info ul{
	list-style-type: none;
	text-align: left;
}
.wrap-films{

}
.wrap-films ul{
	list-style-type: none;
	text-align: left;
}
