body{
	text-align: center;
}
.wrap-all{

}
h1{
	margin: 40px 0;
}
.wrap-avatar{
	margin-bottom: 40px;
}
.wrap-avatar img{
	border: 2px solid grey;
	border-radius: 5px;
}
.wrap-avatar img{
}
.btn-nav-group{
	margin-bottom: 40px;
}
.wrap-hero-info{

}
.wrap-hero-info ul{
	list-style-type: none;
	text-align: left;
	font-size: 17px;
}
.wrap-films{

}
.wrap-films ul{
	list-style-type: none;
	text-align: left;
	font-size: 17px;
}
.loading{
	background-color: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
}
.rotating-circle{
	color: white;
	z-index: 101;
	font-size: 50px;
	position: absolute;
	top: 33%;
	left: 47%;
}
