.row {
  margin: 0;
}

.modes-btn {
  margin: 1.2rem;
  width: 9rem;
  box-shadow: none;
  font-size: 0.8rem;
  padding: 0;
}

.modes-btn:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

header .dropdown-content {
  top: 64px !important;
}
header .dropdown-content li a {
  height: 64px;
  line-height: 64px;
  padding: 0 14px;
}
header .dropdown-content li a:hover {
  background-color: #00BCD4;
}
header nav li a.active {
  background: #0097A7 !important;
}

main .wrap-main-card {
  margin: 4.8rem auto;
}
main .wrap-main-card .card {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
main .wrap-main-card .card .card-image .card-title {
  top: 0;
  left: 0;
  margin: 0;
  width: 67%;
  height: 100%;
}
main .wrap-main-card .card .card-image .card-title h2 {
  font-size: 3rem;
  margin: 0 auto;
}
main .wrap-main-card .card-content {
  padding: 0.8rem;
}
main .quick-user-info {
  text-align: center;
  margin: 4.8rem auto;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 1.2rem;
}
main .quick-user-info .wrap-radioinputs {
  margin: 0 auto;
  display: inline-block;
}
main .game-space {
  text-align: center;
  margin: 4.8rem auto;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 1.2rem;
}
main .game-space .rps-window {
  background: #B2EBF2;
  font-size: 6.4rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #FFC107;
}

footer {
  background: #00BCD4;
}
footer .main-footer-container {
  color: #212121;
}
footer .footer-copyright {
  background: #0097A7;
}

@media only screen and (max-width: 992px) {
  .card .card-image .card-title h2 {
    font-size: 2.4rem !important;
  }

  main .wrap-main-card {
    margin: 3.2rem auto;
  }
  main .quick-user-info {
    margin: 3.2rem auto;
  }
  main .game-space {
    margin: 3.2rem auto;
  }
}
@media only screen and (max-width: 600px) {
  .card .card-image .card-title h2 {
    font-size: 1.4rem !important;
  }

  header .dropdown-content {
    top: 56px !important;
  }
  header .dropdown-content li a {
    height: 56px !important;
    line-height: 56px !important;
    padding-left: 12px !important;
  }

  main .wrap-main-card {
    margin: 2.4rem auto;
  }
  main .quick-user-info {
    margin: 2.4rem auto;
  }
  main .game-space {
    margin: 2.4rem auto;
  }
}
