@charset "UTF-8";
// backgrounds
$darkPrimaryColor: #0097A7;
$defaultPrimaryColor: #00BCD4;
$lightPrimaryColor: #B2EBF2;

$accentColor: #FFC107;
// text colors
$textPrimaryColor: #FFFFFF; 

$primaryTextColor: #212121;
$secondaryTextColor: #727272;
//border color
$dividerColor: #B6B6B6;

@media only screen and (max-width : 992px) {
	.card .card-image .card-title h2{
		font-size: 2.4rem !important;
	}
}

@media only screen and (max-width : 600px) {
	.card .card-image .card-title h2{
		font-size: 1.4rem !important;
	} 
}

body{
	min-width: 400px;
}

.row{
	margin: 0;
}

.modes-btn{
	margin: 1.2rem;
	width: 9rem;
	box-shadow: none;
	font-size: 0.8rem;
	padding: 0;
}
.modes-btn:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

header{
	.dropdown-content{
		li{
			a{
				height: 64px;
				line-height: 64px;
				padding: 0;
				padding-left: 14px;
			}
		}
		li:hover{
			background-color: $defaultPrimaryColor;
		}
	}
	nav{
		li{
			width: 128px;
			text-align: center;
			a{

			}
		}
	}
}

main{
	.wrap-main-card{
		margin: 4.8rem auto;
		.card .card-image .card-title {
			top:0;
			left:0;
			margin: 0;
			width: 67%;
			height: 100%;
			h2{
				font-size: 3rem;
				margin: 0 auto;
			}
		}

		.card-content{
			padding: 0.8rem;
		}
	}

	.quick-user-info{
		text-align: center;
		margin: 4.8rem auto;
		border-radius: 0 0 2px 2px;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
		padding: 1.2rem;
		.wrap-radioinputs{
			margin: 0 auto;
			display: inline-block;
		} 
	}

	.game-space{
		text-align: center;
		margin: 4.8rem auto;
		border-radius: 0 0 2px 2px;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
		padding: 1.2rem; 
		.rps-window{
			background: $lightPrimaryColor;
			font-size: 6.4rem;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			color: #FFC107;
		}
	}
}

footer{
	background: $defaultPrimaryColor;
	.main-footer-container{
		color: $primaryTextColor;
	}
	.footer-copyright{
		background: $darkPrimaryColor;
	}
}