	<div>
		<div class="wrap-main-card container" id="mainCard">
			<div class="row">
				<div class="col s12">
					<div class="card">
						<div class="card-image">
							<img src="img/info-bg-1.jpg"/>
							<div class="card-title valign-wrapper"><h2 class="valign">Rock-Paper-Scissors</h2></div>
						</div>
						<div class="card-content">
							<div class="row center-align">
								<div class="col m8">
									<h5 class="left-align first-info-p">At this stage there are no enough stats for expert game mode, so try to play more raunds to help us get it.</h5>
								</div>
								<div class="col m4">
									<a class="waves-effect waves-light btn modes-btn" href="#/userinfo">vs begginer</a>
									<a class="waves-effect waves-light btn modes-btn" href="#/userinfo">vs expert</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>